:root {
    --backcolor: #212642;
}

body {
    margin: 0 auto;
    padding: 0;

    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    position: relative;

    background-color: #e8e9f1;
}

#menu, 
#preguntas,
#puntaje {
    width: 100%; 
    height: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    position: absolute;
    overflow: auto;
    background-color: var(--backcolor);
}

#menu {
    z-index: 1;
}

/*********************************************
        RESETEO DE ESTILOS PARA H3's
*********************************************/
h3 {
    margin: 0;
}

/*********************************************
            ESTILOS GLOBALES DE BOTONES 
*********************************************/
.main-button {
    padding: 0.5em 0.5em;
    border-radius: 15px;
    /* font-size: 30px; */
    font-weight: bolder;

    outline: none;
    background-color: var(--button-color);
    color: white;
    border: none;
}

.main-button:active {
    filter: brightness(1.1);
}

.main-button:hover {
    cursor: pointer;

    box-shadow: 4px 4px 10px #363e69;
    transition: 0.2s;
}
