#preguntas {   
    display: grid;
    grid-auto-rows: minmax(50%, 100%);
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    
    background-color: var(--backcolor);
    box-sizing: border-box;
}

/************************************************
                SECCION PREGUNTA
************************************************/
#seccion_pregunta {
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

#pregunta {
    display: flex;
}

#pregunta__numero_pregunta {
    display: block;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    margin-right: 1em;
    border-radius: 100%;

    background-color: white;
    font-family: sans-serif;
    color: var(--backcolor);
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

#pregunta__texto_pregunta {
    font-size: min(7vw, 24px);
    text-align: justify;
    color: white;
    font-family: sans-serif;

    width: 90%;
    display: inline-block;
    text-align: justify;
}


/***************************************
        SECCION PREGUNTA - RESPUESTAS
***************************************/
#seccion_pregunta #seccion_respuestas {
    height: min(300px, 50%);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: min(6vw, 20px);
    color: white;
    font-family: sans-serif;
}

#seccion_respuestas form {
    width: 90%;
    height: 90%;
    padding: 0 0 0 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}

.destello-rojo {
    animation: 0.8s 2 normal destello-rojo;
}

#seccion_respuestas form div {
    /* border: 1px solid green; */
}

#seccion_respuestas form div input {
    display: none;
}

#seccion_respuestas form div label {
    /* border: 1px solid red; */
    display: inline-block;
    width: 100%;
}

#seccion_respuestas form div label::before {
    content: '';
    display: inline-block;
    /* width: 0.6em; */
    width: 0.5em;
    height: 0.5em;
    background-color: white;
    border-radius: 100%;
    margin-right: min(2%, 1em);
}

#seccion_respuestas form div input:checked + label {
    background-color: var(--radio-backcolor);
    padding: 1% 2em;
    box-sizing: border-box;
    border-radius: 10px;
    color: var(--backcolor);
    font-weight: bolder;
}

#seccion_respuestas form div input:checked + label::before {
    /* content: none; */
    background-color: var(--backcolor);
}

@keyframes destello-rojo {
    from {
        border: 3px solid red;
    }
    to {
        border: none;
    }
}

/**************************************
        SECCION PREGUNTA - BOTONES
**************************************/
#seccion_pregunta #seccion_botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#seccion_botones button {
    font-size: 18px;
    width: 60%;
    padding: 0.5em;
}

#seccion_botones button:last-child {
    display: none;
    background-color: #1b6e1b;
}

.boton-finalizar {
    border: 2px solid ;
    height: 50px;
    width: 90%;
    padding: 0;
    font-size: 150%;
}

/************************************************
                SECCION PERSONAJE
************************************************/
#seccion-personaje {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#seccion-personaje figure {
    width: 400px;
    width: min(400px, 90%);
    height: 500px;
    margin-bottom: 0;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;

    /* position: relative; */
    /* display: flex;
    justify-content: center; */
}

#seccion-personaje figure img {
    background-color: white;
    /* width: 110%; */
    /* height: 500px; */
    /* position: absolute; */
    background-position: center;
    border-radius: 10px 10px 0px 0px;
}

#seccion-personaje p {
    min-height: min(200px, 30%);
    margin-top: 0;
    background-color: #e1e8ec;
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
    width: min(400px, 90%);
    overflow: auto;
    color: black;
    font-family: sans-serif;
    text-align: justify;
    padding: 1em;

    font-size: 21px;
    font-size: min(5vw, 20px);

}